body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #53514b;
}

h1 {
    color: #030303;
    margin: 20px 0;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
    width: max-content;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.card .front {
    background-color: #fff;
}

.card .back {
    background-color: #ffa500;
    transform: rotateY(180deg);
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0);
}
